In [18]:
import pandas as pd

df = pd.read_csv("gios-pjp-data.csv", skiprows=1, names=["Date", "PM10", "PM25"], index_col=False)

In [19]:
df.head()

               Date  PM10  PM25
0  2023-10-01 01:00  16.0   9.9
1  2023-10-01 02:00  16.9  10.1
2  2023-10-01 03:00  17.3  10.2
3  2023-10-01 04:00  17.8  10.7
4  2023-10-01 05:00  16.7  10.8

In [20]:
df.describe()

             PM10        PM25
count  807.000000  807.000000
mean    17.755514   11.684139
std     10.120005    7.767146
min      3.400000    2.100000
25%     10.800000    6.900000
50%     15.400000    9.900000
75%     21.400000   13.850000
max     94.900000   80.400000